---
layout: default
title: Home
---

<section class="home home-title">
  <hgroup>
    <h1>Green Button</h1>
    <img class="logo" src="{{ site.baseurl }}/assets/logo.png" alt="Green Button">
    <h2>Helping You Find and Use Your Energy Data</h2>
  </hgroup>
</section>
<section class="home home-about" id="#home-about">
  <div class="section-container">
    <div class="section-content">
<!-- Banner insert -->
      <a class="btn btn-success btn-lg" href="{{ site.baseurl }}/Events/index.html" target="_blank">2015 Birth of the Green Button Ecosystem Presentations are now Available</a>
	<dl>
		<dt>US CTO Megan Smith (.mp4)</dt>
		<dd>CTO Megan Smith welcoming the birth of the Green Button Ecosystem - 6 Feb 2015</dd>
		<video controls="" preload="none" poster="https://services.greenbuttondata.org/library/videos/MeganSmith_06Feb2015_thumbnail.jpg" height="240" width="450">
			<source src="https://services.greenbuttondata.org/library/videos/MeganSmith1.mp4" type="video/mp4">
			Your browser does not support HTML5 video.
		</video>
	</dl>
<!-- End Banner insert -->
<hr />

      <h2 class="section-title">What is Green Button?</h2>
      <p class="lead">Green Button is a secure way to get your energy usage information electronically.</p>

      <ul class="audiences">
        <li>
          <div class="icon">
            <i class="fa fa-graduation-cap fa-lg"></i>
          </div>
          <h3><a href="{{ site.baseurl }}/learn">Learn</a></h3>
          How the Green Button Initiative helps you!
        </li>
        <li>
          <div class="icon">
            <i class="fa fa-bar-chart-o fa-lg"></i>
          </div>
          <h3><a href="{{ site.baseurl }}/use">Use</a></h3>
          Energy usage data for you!!
        </li>
        <li>
          <div class="icon">
            <i class="fa fa-users fa-lg"></i>
          </div>
          <h3><a href="{{ site.baseurl }}/community">Community</a></h3>
	  Getting involved in the <a href="http://greenbuttonalliance.org" target="_blank">Green Button Alliance</a>!
        </li>
        <li>
          <div class="icon">
            <i class="fa fa-code fa-lg"></i>
          </div>
          <h3><a href="{{ site.baseurl }}/build">Build</a></h3>
          The technology of Green Button
        </li>
        <li>
          <div class="icon">
            <i class="fa fa-book fa-lg"></i>
          </div>
          <h3><a href="{{ site.baseurl }}/library">Library</a></h3>
          Videos, presentations, and documents
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="home home-partners">
  <div class="section-container">
    <div class="section-content">
      <h2 class="section-title">Who's offering Green Button?</h2>
      <p class="lede">Today, more than 60 million households and businesses can use Green Button to access their own energy usage data from their electric utility, and a growing set of companies are offering products, services, and applications that use Green Button data.</p>

	 <ul class="partner_list">
		{% for partner in site.data.partners %}
            {% if partner.status == "implemented" or partner.type == "government" or partner.type == "association"%}
        		{% if partner.featured %}
            		{% if partner.GBA %}
            		    <li><img class="logo" src="{{ site.baseurl }}/assets/GBAlogo.png" width="30px" height="30px">
            		        {% if partner.certified == "DMD" %}
            		            <img class="logo" src="{{ site.baseurl }}/assets/gbaDMD.png" width="30px" height="30px">
            		        {% endif %}
            		        {% if partner.certified == "CMD" %}
            		            <img class="logo" src="{{ site.baseurl }}/assets/gbaCMD.png" width="30px" height="30px">
            		        {% endif %}
            		        {% if partner.certified == "DMD/CMD" %}
            		            <img class="logo" src="{{ site.baseurl }}/assets/gbaDMD.png" width="30px" height="30px">
            		            <img class="logo" src="{{ site.baseurl }}/assets/gbaCMD.png" width="30px" height="30px">
            		        {% endif %}
            		    <a href="{{ partner.url }}" target="_blank">{{ partner.name }}</a></li>
           		    {% else %}
           		        <li>{% if partner.certified == "DMD" %}
           		            <img class="logo" src="{{ site.baseurl }}/assets/gbaDMD.png" width="30px" height="30px">
           		        {% endif %}
           		        {% if partner.certified == "CMD" %}
           		            <img class="logo" src="{{ site.baseurl }}/assets/gbaCMD.png" width="30px" height="30px">
           		        {% endif %}
           		        {% if partner.certified == "DMD/CMD" %}
           		            <img class="logo" src="{{ site.baseurl }}/assets/gbaDMD.png" width="30px" height="30px">
           		            <img class="logo" src="{{ site.baseurl }}/assets/gbaCMD.png" width="30px" height="30px">
           		        {% endif %}
           		            <a href="{{ partner.url }}" target="_blank">{{ partner.name }}</a></li>
            		{% endif %}
        		{% endif %}
            {% endif %}
		{% endfor %}
	</ul>

	<ul class="partner_list below-fold">
		{% for partner in site.data.partners %}
		    {% if partner.status == "implemented" %}
		        {% if partner.featured %}
		        {% else %}
            		{% if partner.GBA %}
            		    <li><img class="logo" src="{{ site.baseurl }}/assets/GBAlogo.png" width="30px" height="30px">
            		        {% if partner.certified == "DMD" %}
            		            <img class="logo" src="{{ site.baseurl }}/assets/gbaDMD.png" width="30px" height="30px">
            		        {% endif %}
            		        {% if partner.certified == "CMD" %}
            		            <img class="logo" src="{{ site.baseurl }}/assets/gbaCMD.png" width="30px" height="30px">
            		        {% endif %}
            		        {% if partner.certified == "DMD/CMD" %}
            		            <img class="logo" src="{{ site.baseurl }}/assets/gbaDMD.png" width="30px" height="30px">
            		            <img class="logo" src="{{ site.baseurl }}/assets/gbaCMD.png" width="30px" height="30px">
            		        {% endif %}
            		    <a href="{{ partner.url }}" target="_blank">{{ partner.name }}</a></li>
           		    {% else %}
           		        <li>{% if partner.certified == "DMD" %}
           		            <img class="logo" src="{{ site.baseurl }}/assets/gbaDMD.png" width="30px" height="30px">
           		        {% endif %}
           		        {% if partner.certified == "CMD" %}
           		            <img class="logo" src="{{ site.baseurl }}/assets/gbaCMD.png" width="30px" height="30px">
           		        {% endif %}
           		        {% if partner.certified == "DMD/CMD" %}
           		            <img class="logo" src="{{ site.baseurl }}/assets/gbaDMD.png" width="30px" height="30px">
           		            <img class="logo" src="{{ site.baseurl }}/assets/gbaCMD.png" width="30px" height="30px">
           		        {% endif %}
           		            <a href="{{ partner.url }}" target="_blank">{{ partner.name }}</a></li>
            		{% endif %}
		        {% endif %}
		    {% endif %}
		{% endfor %}
	</ul>

	<div class="lead">Future Commitments</div>
	    <ul class="partner_list commitments">
		    {% for partner in site.data.partners %}
		        {% if partner.status == "committed" %}
		            {% if partner.featured %}
            		    {% if partner.GBA %}
            		        <li><img class="logo" src="{{ site.baseurl }}/assets/GBAlogo.png" width="30px" height="30px">
		                        <a href="{{ partner.url }}" target="_blank">{{ partner.name }}</a></li>
            		    {% else %}
            		        <li><a href="{{ partner.url }}" target="_blank">{{ partner.name }}</a></li>
            		    {% endif %}
		            {% endif %}
		        {% endif %}
		    {% endfor %}
	    </ul>
	    <ul class="partner_list commitments below-fold">
		    {% for partner in site.data.partners %}
		        {% if partner.status == "committed" %}
		            {% if partner.featured %}
		            {% else %}
            		    {% if partner.GBA %}
            		        <li><img class="logo" src="{{ site.baseurl }}/assets/GBAlogo.png" width="30px" height="30px">
		                        <a href="{{ partner.url }}" target="_blank">{{ partner.name }}</a></li>
            		    {% else %}
            		        <li><a href="{{ partner.url }}" target="_blank">{{ partner.name }}</a></li>
            		    {% endif %}
		            {% endif %}
		        {% endif %}
		    {% endfor %}
	    </ul>


      <div class="lead end-cta">Don't see your company? &nbsp; <a class="buttonish" href=mailto:info@greenbuttondata.org?subject=Getting%20started%20with%20Green%20Button&#038;body=Hi!%0A%0AI’d%20like%20to%20get%20started%20with%20Green%20Button.%20Could%20you%20send%20me%20more%20information?%0A%0AThanks,%0A%0A[Your%20name]%0A[Your%20organization]%0A[Your%20contact%20information]>Join Green Button Today</a><br />
<!--	<a class="buttonish" href="organizations">Full List of Organizations that have implemented Green Button</a>  -->
      </div>
      
    </div>
  </div>
</section>
