<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Green Button</title>
<meta name="viewport" content="width=device-width">
<meta name="description" content="{{ site.description }}">
<link rel="canonical" href="{{ site.rooturl }}{{ page.url }}">
<link rel="shortcut icon" href="/favicon.ico">

<!-- Custom CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/static/css/style.css">

<!-- Shadowbox setup -->
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/static/shadowbox-3.0.3/shadowbox.css">
<script type="text/javascript" src="{{ site.baseurl }}/static/shadowbox-3.0.3/shadowbox.js"></script>
<script type="text/javascript">
   Shadowbox.init();
</script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
