<!DOCTYPE html>
<html>
<head>
{% include header.html %}

<!-- add DAP header -->
<script d="_fed_an_js_tag"
type="text/javascript"
src=”/static/path/federated­analytics.all.min.js”
?agency=DOC
&sub­agency=NIST
&vcto=6
&s>  
</script>


</head>
<body>
  <a href="https://github.com/green-button/green-button.github.io" class="fork-me"><img style="position: absolute; top: 0; right: 0; border: 0;z-index:9999;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
  {{ content }}
  <footer role="contentInfo" class="site-footer">
    <div class="section-container">
      <div class="section-content">
        <div class="row">
          <nav class="footer-nav">
            <ul>
              <li><a href="{{ site.baseurl }}/"><img class="logo" src="{{ site.baseurl }}/assets/logo.png" alt="Green Button Home"></a></li>
	      <li><a href="{{ site.baseurl }}/learn">Learn</a></li>
	      <li><a href="{{ site.baseurl }}/use">Use</a></li>
	      <li><a href="{{ site.baseurl }}/community">Community</a></li>
	      <li><a href="{{ site.baseurl }}/build">Developers</a></li>
	      <li><a href="{{ site.baseurl }}/library">Library</a></li>
	      <li><a href="{{ site.baseurl }}/greentest.aspx">Testing</a></li>
	      <li><a href="mailto:info@greenbuttondata.org?subject=Getting%20started%20with%20Green%20Button&#038;body=Hi!%0A%0AI’d%20like%20to%20get%20started%20with%20Green%20Button.%20Could%20you%20send%20me%20more%20information?%0A%0AThanks,%0A%0A[Your%20name]%0A[Your%20organization]%0A[Your%20contact%20information]%0A[Your%20category%20(consumer,utility,developer)]%0A[Your%20energy%20provider]">Feedback</a></li>
	      <li><a href="{{ site.baseurl }}/faq">FAQ</a></li>
          <li><a href="http://greenbuttonalliance.org" target="_blank">Green Button Alliance</a></li>
	      <li><a href="https://github.com/green-button" target="_blank"><i class="fa fa-github"></i> Github</a></li>
            </ul>
          </nav>
        </div>
        <div class="row credits">
          Green Button is an industry-led effort that responds to a White House call-to-action: provide electricity customers with easy access to their energy usage data in a consumer-friendly and computer-friendly format.
          {% if page.title == "Home" %}<br>"Electricity Pylons" by <a href="https://secure.flickr.com/photos/nicksie2008/10347439843">Nick Page</a> and released under <a href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a>{% endif %}
        </div>
      </div>
    </div>
  </footer>
  <script src="{{ site.baseurl }}/static/js/jquery.js"></script>
  <script src="{{ site.baseurl }}/static/js/init.js"></script>
  <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-30243410-1');ga('send','pageview');
  </script>
</body>
</html>
