---
layout: default
---

<header class="banner" role="banner">
  <div class="section-container">
    <div class="section-content">
      <div class="banner-title">
        <a href="/">
          <img class="logo" src="{{ site.baseurl }}/assets/logo.png" alt="Green Button">
          <h1>Green Button</h1>
        </a>
      </div>
      <div class="banner-nav">
        <nav role="navigation" class="main-nav">
          <ul>
            <li><a href="{{ site.baseurl }}/about">About</a></li>
            <li><a href="{{ site.baseurl }}/how-to">How To</a></li>
            <li><a href="{{ site.baseurl }}/adopters">Adopters</a></li>
            <li><a href="{{ site.baseurl }}/developers">Developers</a></li>
            <li><a href="{{ site.baseurl }}/resources">Resources</a></li>
            <li><a href="{{ site.baseurl }}/signup" class="btn btn-primary">Get Started</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>