---
layout: default
---

<header class="banner" role="banner">
  <div class="section-container">
    <div class="section-content">
      <div class="banner-title">
        <a href="/">
          <img class="logo" src="{{ site.baseurl }}/assets/logo.png" alt="Green Button">
          <h1>Green Button</h1>
        </a>
      </div>
      <div class="banner-nav">
        <nav role="navigation" class="main-nav">
          <ul>
            <li><a href="{{ site.baseurl }}/greendevelop">Developers</a></li>
            <li><a href="{{ site.baseurl }}/testing">Testing</a></li>
            <li><a href="{{ site.baseurl }}/signup" class="btn btn-primary">Get Started</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>

<div class="section-container content-page">
  <div class="section-content">
    <div class="main-content">
      {{ content }}
    </div>
  </div>
</div>