---
layout: default
---

<header class="banner" role="banner">
  <div class="section-container">
    <div class="section-content">
      <div class="banner-title">
        <a href="/">
          <img class="logo" src="{{ site.baseurl }}/assets/logo.png" alt="Green Button">
          <h1>Green Button</h1>
        </a>
      </div>
      <div class="banner-nav">
        <nav role="navigation" class="main-nav">
          <ul>
            <li><a href="{{ site.baseurl }}/greendevelop">Developers</a></li>
            <li><a href="{{ site.baseurl }}/testing">Testing</a></li>
            <li><a href="mailto:info@greenbuttondata.org?subject=Getting%20started%20with%20Green%20Button&#038;body=Hi!%0A%0AI’d%20like%20to%20get%20started%20with%20Green%20Button.%20Could%20you%20send%20me%20more%20information?%0A%0AThanks,%0A%0A[Your%20name]%0A[Your%20organization]%0A[Your%20contact%20information]" class="btn btn-primary">Get Started</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>

<div class="section-container content-page">
  <div class="section-content">
    <div class="main-content">
      {{ content }}
    </div>
  </div>
</div>